@page "/Consultadeuda"
@inject HttpClient httpClient



<EditForm Model="L_Deudas">

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h4>Consulta de Deudas</h4>
            </div>

            <div class="card-body">
                <div class="input-group mb-3">
                    <InputText @bind-Value="Asunto" class="form-control" aria-describedby="buscarButton" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button" id="buscarButton">
                        <i class="oi oi-magnifying-glass" />
                    </button>
                </div>

                <table class="table table-responsive table-condensed table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>DeudaId</th>
                            <th>Fecha</th>
                            <th>NombreAcreedor</th>
                            <th>TipoDeuda</th>
                            <th>MontoTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var deuda in L_Deudas)
                        {
                            <tr>
                                <td>@deuda.DeudaId</td>
                                <td>@deuda.Fecha</td>
                                <td>@deuda.NombreAcreedor</td>
                                <td>@deuda.TipoDeuda</td>
                                <td>@deuda.MontoTotal</td>
                                
                                <td><a class="btn btn-outline-primary" href="ocupacion/@deuda.Fecha">Ver</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="card-footer">
                <div class="form-row justify-content-sm-between" aria-orientation="vertical">
                    <div class="col-3">
                        <label for="CantidaRegistro" class="col-form-label"><strong>Filas</strong>&nbsp;</label>
                        <input id="CantidaRegistro" @bind-value="@Conteo" disabled class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    public string Asunto  { get; set; } = "";
    public int Conteo { get; set; } = 0;
    public Deudas deudas { get; set; } = new Deudas();
    public List<Deudas> L_Deudas { get; set; } = new List<Deudas>();

    protected override async Task OnInitializedAsync()
    {
        var ingreso = await httpClient.GetFromJsonAsync<List<Deudas>>($"api/Deudas");

        if(ingreso is not null)
        {
            L_Deudas = ingreso;
        }
    }
    public async Task Buscar()
    {
        L_Deudas = await httpClient.GetFromJsonAsync<List<Deudas>>($"api/Deudas");

        Conteo = L_Deudas != null ? L_Deudas!.Count() : 0;
        StateHasChanged();
    }  
}